.mostly-customized-scrollbar::-webkit-scrollbar {

    width: 5px;

    height: 8px;

    background-color: #aaa;

    /* or add it to the track */

}




/* Add a thumb */

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {

    background: #000;

}



body {

    font-family: "Helvetica", sans-serif;

}



.sidebar {

    height: 100%;

    width: 0;

    position: fixed;

    z-index: 1;

    top: 0;

    left: 0;

    background-color: #25598A;

    overflow-x: hidden;

    transition: 0.5s;

    padding-top: 60px;

}



.sidebar a {

    padding: 8px 8px 8px 32px;

    text-decoration: none;

    font-size: 25px;

    color: #818181;

    display: block;

    transition: 0.3s;

}



.sidebar a:hover {

    color: #f1f1f1;

}



.sidebar .closebtn {

    position: absolute;

    top: 0;

    right: 25px;

    font-size: 36px;

    margin-left: 50px;

}



.openbtn {

    font-size: 20px;

    cursor: pointer;

    background-color: #111;

    color: white;

    padding: 10px 15px;

    border: none;

}



.openbtn:hover {

    background-color: #444;

}



#main {

    transition: margin-left .5s;

    padding: 16px;

}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.sidebar {

    padding-top: 15px;

}



.sidebar a {

    font-size: 18px;

}



.paginator {



    list-style: none;



    padding: 0;



    margin-top: 30px;



}







.paginator_item {



    display: inline-block;



    margin: 0 10px;



    padding: 4px 12px;



    background: #25598A;



    color: #fff;



    text-decoration: none;



    -webkit-border-radius: 4px;



    -moz-border-radius: 4px;



    border-radius: 4px;



}







.paginator_item:hover {



    background: #8A6ED5;



}







.paginator_active,



.paginator_active:hover {



    background: #cccccc;



}